@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--font-1: "Markazi Text";
--font-2: "Karla";
--main-color: #495E57;
--secondary-color: #F4CE14;
--font-color: black;
--secondary-font-color: #EE9972;
}

h1, h2 {
  font-family: var(--font-1);
}

body, button {
  font-family: var(--font-2);
}

body {
 width: 100%;
}

header {
  border: 1px solid;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav > ul > li {
  padding: 8px 16px
}

nav a {
  text-decoration: none;
  color: var(--font-color);
}

nav a:hover {
  color: var(--main-color);
  text-decoration: underline;
}


.main-btn {
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

main {
  display: grid;
  grid-auto-columns: auto;
  margin: 0 32px;
}

section h1 {
  font-size: 2.5em;
}

.hero-sec, .about-us {
  display: grid;
  grid-template-columns: 50% 50%;
}

.our-specials {
  display: grid;
 
}

.specials-menu-card {
  width: 327px;
  border-radius: 16px 16px 0 0;
}

.special-menu-img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.dish-item-and-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  width: 100%;
}


.footer-logo {
  height: 42px;
}