@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--font-1: "Markazi Text";
--font-2: "Karla";
--main-color: #495E57;
--secondary-color: #F4CE14;
--font-color: black;
--secondary-font-color: #EE9972;
}

h1, h2 {
  font-family: var(--font-1);
}



body, button, p, .booking-submit {
  font-family: var(--font-2);
  font-size: 20px;
}

body {
 max-width: 100%;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  padding: 18px 36px;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav > ul > li {
  padding: 8px 16px
}

nav a {
  text-decoration: none;
  color: var(--font-color);
  transition: .5s;
}

nav a:hover {
  color: var(--main-color);
  text-decoration: underline;
  transition: .5s;
}


.main-btn, .booking-submit {
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  transition: .5s;
}

.main-btn:hover, .booking-submit:hover {
  background-color: #EE9972;
  transition: .5s;
}

main {
  display: grid;
  grid-auto-columns: auto;
}

section h1 {
  font-size: 64px;
}

section h2 {
font-size: 36px;
}

article {
  padding: 8px 16px;
}

.hero-sec, .about-us {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.hero-sec {
  background-color: var(--main-color);
  width: 100%;
  padding: 36px 0;
}

.hero-sec h1 {
  color: var(--secondary-color);
}

.hero-sec h2, .hero-sec p  {
  color: #fff;
}

.hero-sec article {
  width: 443px;
}

.hero-sec p, .about-us p {
  margin-bottom: 56px;
}

.hero-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 16px;
  margin-left: 219px;
}

.our-specials, .reviews, .about-us {
  padding-top: 36px;
  padding-bottom: 190px;
}

.our-specials h2, .reviews h2, .about-us, .booking-page h2 {
  margin-left: 32px;
}

.our-specials article, .reviews article {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 32px;
}

.specials-menu-card {
  max-width: 327px;
  border-radius: 16px 16px 0 0;
  background-color: #f5f5f5;
}

.special-menu-img {
  max-width: 100%;
  border-radius: 16px 16px 0 0;
}

.menu-card-text {
  padding: 8px 16px 32px;
}

.dish-item-and-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dishname {
  font-family: var(--font-1);
  font-size: 32px;
}

.price {
  color: var(--secondary-font-color);
  font-size: 24px;
}

.dish-descript {
  margin-bottom: 18px;
}

.reviews {
  background-color: var(--main-color);
}

.review-card {
  max-width: 327px;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
padding: 8px 16px 32px;
}

.review-rating span {
 font-size: 32px;
 color: #d5d5d5;
}

.review-user {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 1rem;
}

.user-avatar img {
width: 64px;
border-radius: 32px;
}

.review-username {
  font-size: 24px;
}

.review-descript {
font-size: 20px;
}

.img-contain-about img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 16px; 
}


footer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--main-color);
  width: 100%;
  padding: 18px 36px 72px;
}

footer ul {
  list-style-type: none;
  line-height: 36px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: .5s;
}

footer a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  transition: .5s;
}

footer h4 {
  color: white;
}
.footer-logo {
  height: 42px;
}

.booking-form {
  display: grid;
  max-width: 200px;
  margin: 16px 32px 64px;
  gap: 20px;
}

.booking-form label {
  font-weight: bold;
}

.form-control {
  padding: 8px 16px;
}

@media screen and (max-width: 432px) {

  body {
    justify-content: center;
  }

  .main-btn {
    max-width: 100%;
  }

  section h1 {
    font-size: 64px;
  }
  
  section h2 {
  font-size: 36px;
  }
  
  article {
    padding: 9px 18px;
  }

  nav {
    height: 56px;
    padding: 9px 18px;
  }

  header img {
    align-items: center;
    height: 40px;
  }

  nav ul {
    display: none;
  }

  .hero-sec, .about-us {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  } 

  .hero-image {
    width: 327px;
    max-width: 100%;
    justify-content: center;
    margin: 9px 18px;
  }

  .hero-sec article, .about-us article {
   margin: 9px 18px;
  }

  .our-specials article, .reviews article {
    display: grid;
    grid-template-columns: auto;
    margin: 0 18px;
  }

  .our-specials, .reviews, .about-us {
    padding-top: 18px;
    padding-bottom: 56px;
  }


  .specials-menu-card, .review-card {
    margin-bottom: 32px;
  }
  
  .img-contain-about img {
    width: 394px;
    max-width: fit-content;
  }

  footer {
    display: grid;
    grid-template-columns: auto;
    padding: 18px 36px 72px;
  }
}