@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--font-1: "Markazi Text";
--font-2: "Karla";
--main-color: #495E57;
--secondary-color: #F4CE14;
--font-color: black;
--secondary-font-color: #EE9972;
}

h1, h2 {
  font-family: var(--font-1);
}

body, button {
  font-family: var(--font-2);
}

body {
 margin: 0 36px; 
 width: 100%;
}

nav ul {
  justify-content: space-around;
  display: flex;
}


.main-btn {
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.specials-menu-card {
  width: 327px;
  border-radius: 16px 16px 0 0;
}

.special-menu-img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.dish-item-and-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  width: 100%;
}


.footer-logo {
  height: 42px;
}